{{ define "body" }}
    <body class="{{ if .Site.Params.backgroundImage }} background-image" style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
{{ end }}

{{ define "main" }}
    <div class="content-center">
        <style>
            @media (max-width: 768px) {
                main {
                    flex-direction: column !important;
                    padding-left: 2rem !important;
                    padding-right: 2rem !important;
                }
                aside {
                    flex: 1 !important;
                    order: 2;
                    padding-top: 2rem !important;
                }
                main > div {
                    order: 1;
                }
            }
        </style>
        <main style="display: flex; gap: 2rem; flex-wrap: wrap;">
            <div style="flex: 1; min-width: 300px;">
                <div>
                    {{ if .Site.Params.Portrait.Path }}
                    <img src="{{ .Site.Params.Portrait.Path }}" alt="{{ .Site.Params.Portrait.Alt }}" style=" margin-left: auto; margin-right: auto; display: block; width: 50%; height: auto" />
                    {{ end }}

                    <h1>{{ .Site.Title }}</h1>
                    <div class="subtitle">
                        {{ .Site.Params.subtitle }}
                        We are preparing for BSides Fort Wayne 2026!<br>
                        Pencil in Saturday June 6th, 2026 on your calendar and stay tuned for more details!<br>
                        For the best updates, follow us on <a href="https://www.linkedin.com/company/bsidesfortwayne">LinkedIn</a> or join our <a href="https://discord.gg/tM4eZFFzjg">Discord!</a><br>
                        If you are interested in sponsoring, please reach out to us at <a href="mailto:sponsorship@bsidesfortwayne.org">sponsorship@bsidesfortwayne.org</a>
                    </div>
                    <br>
                    {{- with .Site.Params.social }}
                        <div>
                            {{ partial "social-icons.html" . }}
                        </div>
                    {{- end }}
                </div>
            </div>
            {{- with .Site.Params.sponsors }}
            <aside style="flex: 0 0 250px; padding-top: 2rem;">
                <h2 style="text-decoration: underline;">Sponsors</h2>
                <div>
                    {{ partial "sponsors.html" . }}
                </div>
            </aside>
            {{- end }}
        </main>
    </div>
{{ end }}